[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[packages]
dnspython = "==1.15.0"
requests = "==2.18.4"
ipaddress = "==1.0.22"
validators = "*"

[requires]
python_version = "3.6"

[scripts]
tests = "time -p pytest -v --cov=./"
