-i https://pypi.org/simple
certifi==2021.5.30
chardet==4.0.0
decorator==5.0.9
dnspython==2.1.0
idna==3.2
ipaddress==1.0.23
requests==2.26.0
six==1.16.0
urllib3==1.26.6
validators==0.18.2
# dev
astroid==2.7.3
attrs==21.2.0
autopep8==1.5.7
coverage==5.5
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
more-itertools==8.9.0
pluggy==1.0.0
py==1.10.0
pycodestyle==2.7.0
pylint==2.10.2
pytest-cov==2.12.1
pytest==6.2.5
six==1.16.0
wrapt==1.10.11
